[defaults]
inventory = inventory/hosts.yml
roles_path = roles
vault_password_file = .vault_pass
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
